.card_todo {
    margin: 30px;
    width: 270px;
    text-align: center;
    background: #3AAFA9;
    padding: 15px;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
}

.card_todo:hover {
    transform: scale(1.1);
}

.card_todo h1 {
    font-size: 21px;
    text-decoration: underline;
    color: #FEFFFF;
    padding-bottom: 10px;
}

.card_todo p {
    font-size: 15px;
    color: #17252A;
}

.card_todo div {
    width: 100%;
    margin-top: 30px;
    gap: 20px;
    justify-content: space-between;

}

.btn {
    display: flex;
}
.btn button {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    padding: 0 6px;
    cursor: pointer;
}

.edi_field input {
    width: 200px;
    height: 25px;
    padding: 5px 15px;
    outline: none;
    border: 2px solid #17252A;
    border-radius: 7px;
    margin-bottom: 5px;
    background: none;
    color: #FEFFFF;
}
.edi_field_btn button {
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
}

.main_btn {
    display: flex;
}
